APP_NAME="Email Membership Benchmark"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000
APP_LOCALE=fr
APP_FALLBACK_LOCALE=fr
APP_TIMEZONE=Africa/Casablanca

LOG_CHANNEL=single
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=email_bloom
DB_USERNAME=root
DB_PASSWORD=
DB_CHARSET=ascii
DB_COLLATION=ascii_bin

SESSION_DRIVER=file
CACHE_STORE=file

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379
REDIS_DB=0
REDIS_PREFIX=

BLOOM_KEY=email_benchmark:emails:bloom
BLOOM_CAPACITY=1000000
BLOOM_ERROR_RATE=0.01
